<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title>LDS Marriage</title>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/index.html">Marriage within the Church of Jesus Christ of Latter-Day Saints</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/index.html">Home</a></li>
				<li><a href="/eternal.html">Eternal Marriage</a></li>
				<li class="active"><a href="/plural.html">Plural Marriage</a></li>
			</ul>
		</div>
	</nav>
  <div id="app" class="content">
		<div>
			<p class="Title">Plural Marriage</p>
			<img src="/images/polygamy.jpg" />
			<p>
				Plural Marriage began being observed by the members of the Church of Jesus Christ of Latter-Day Saints in the early 1840’s and ended around the 1890’s. What could be the reason as to why plural marriage was given as a commandment from God during those years? Why was this practice so important to them and how is it that it was something good?
			</p>
			<p>
				Most of us today see eye to eye, as to whether plural marriage is good or bad. We will mainly agree with the idea that plural marriage is not good, that it is a selfish, unjust and lustful decision. Others even joke that why would we ever want to have more than one mother in law? Still, how is it that members of the Church of Jesus Christ saw such practice as a commandment from God for more than 50 years? Most of us agree, hopefully, that God is the light and the truth and that God is perfect, so why would God give that commandment?
			</p>
			<p>
				To understand plural marriage within the Church of Jesus Christ of Latter-Day Saints and how their saints within the church see it, we must first understand some other concepts first.
			</p>
			<p>
				First, the real question many of us have with plural marriage is not “why plural marriage was given as a commandment, and if it was truly from God”, but is "is God really behind that commandment?"
			</p>
			<p>
				In the old testament we can read about Abraham, David, Solomon and Jacob who practiced polygamy. As we see, it was allowed by God, until one decides to do it for the wrong purposes. We can see this with David. David was allowed by God to have multiple wives and concubines until he lusted after a woman, sent her husband to the front lines in war to increase the possibility of her husband to die and then David would have the opportunity to take her to wife.
			</p>
			<p>
				Second, if it was God who had given that commandment years ago, does he really have enough power and authority to say that plural marriage is to be observed?
			</p>
			<p>
				The answer seems obvious, but a great way to understand that he does have such authority is by understanding that God’s thoughts are not our own, or He understands things we do not fully yet (Isaiah 55: 8-9). We can think of Moses being authorized to kill (Exodus 32:25-28) because the Lord told him so. Again, we can ask, was this realy God? And if it was really God, did God have authority to allow this? Yes. God is the one who commands and knows. Our thoughts are not His thoughts, and His thoughts are not our own.
			</p>
			<p>
				Third and last, here are some of the ideas of members of The Church of Jesus Christ of Latter-Day saints. If we know that God was the author of such commandments, be it death, or plural marriage, or chastity, or the ten commandments, then we know why it must be done, why it has to be followed, why such commandment is for our good because we will see the blessings and confirmations that such commandments are right, we will see the fruits of such practices and know that God is the author behind it. Now such things will only be revealed by a prophet and in the direction of the Holy Ghost, that these practices tend to be so delicate that they rarely have happened, and rarely will ever happen, but that does not mean because of it that it is false.
			</p>
			<p>
				These were some ideas and thoughts on the way how members of the Church of Jesus Christ of Latter Day saints see it. In the end only a person who seeks complete communion and real effort with God will know if God really authorized plural marriage, and if so He has authority for such. 
			</p>
		</div>

		<div class="addComment">
			<h3>Add a Comment</h3>
			<form v-on:submit.prevent="upload">
				<input v-model="author" placeholder="Name"></p>
				<textarea v-model="comment"></textarea>
				<br />
				<button class="btn" type="submit">Comment</button>
			</form>
		</div>
		<div v-if="comments.length > 0">
			<h3>Comments</h3>
			<div v-for="comment in comments">
				<div v-if="checkEdit(comment)">
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<input v-model="authorEdit"></p>
							<textarea v-model="commentEdit"></textarea>
						</div>
						<div class="col-sm-3">
							<button class="btn btn-success" v-on:click="editComment(comment)">Save</button>
							<button class="btn btn-danger" v-on:click="deleteComment(comment)">Delete</button>
						</div>
					</div>
				</div>
				<div v-else>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<p>{{comment.comment}}</p>
							<p><i>-- {{comment.author}}</i></p>
						</div>
						<div class="col-sm-3">
							<button class="btn btn-primary" v-on:click="setEdit(comment)">Edit</button>
							<button class="btn btn-danger" v-on:click="deleteComment(comment)">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
  <div class="footer">
		<a href="https://github.com/brenanmayhew/cs260-creative-4" target="_blank">My Github</a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/plural.js"></script>
</body>

</html>
